#tiposTable {
    width: 100% !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #4f46e5;
    border-color: #4f46e5;
    color: white !important;
}